@model EducationPortal.Db.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

<main>
      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Album example</h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
            <p>
              <a href="#" class="btn btn-primary my-2">Main call to action</a>
              <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>
          </div>
        </div>
      </section>

    <form method="POST">
        <div class="form-group">
            <label asp-for="Login" class="site-text-gray"></label>
            <input asp-for="Login" class="form-control" placeholder="Логин" autofocus/>
            <span asp-validation-for="Login" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="site-text-gray"></label>
            <input asp-for="Password" type="password" class="form-control" placeholder="Пароль"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn site-bg-red" style="width: 50%; float: left;">Войти</button>
            <a asp-controller="Account" asp-action="Register" class="btn btn-link" style="width: 50%;">Регистрация</a>
        </div>
    </form>
</main>