<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <title>@ViewData["Title"] - Education_portal</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">



    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">

</head>
<body>
<header>
<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
  <a asp-controller="Home" asp-action="Index" class="navbar-brand">Offcanvas navbar</a>

  <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
    @await Component.InvokeAsync("GetAuthorizedUser")
  </div>
</nav>
</header>

@RenderBody()

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="/docs/5.0/getting-started/introduction/">getting started guide</a>.</p>
  </div>
</footer>

@if (IsSectionDefined("CoursesActionsDialog"))
{
	@RenderSection("CoursesActionsDialog", false)
}

<script src="~/js/jquery.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/site.js"></script>
@* <script src="~/js/bootstrap.bundle.min.js"></script> *@


<script>
// BindCategoryNavItems();
//BindСourseControlButtons();
// BindPostNavItems();
BindCourseControlButtons();
</script>


</body>
</html>