<!DOCTYPE html>
  <!-- Coding by CodingLab | www.codinglabweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="~/css/style.css">
	<link rel="stylesheet" href="~/css/bootstrap.css">
	<!----<link rel="stylesheet" href="./css/stylePixel.css">-->

    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <title>@ViewData["Title"] - Education_portal</title>

</head>
<body>
	<main>
	<div class="container-fluid">
		<div class="row flex-nowrap">
			<div class="col-auto px-sm-2 px-0 bg-white border-end">
				<div class="d-flex flex-column align-items-center  px-3 pt-2 text-white min-vh-100">
					<a asp-controller="Course" asp-action="Index" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
						<span class="fs-5 d-none d-sm-inline text-dark">Menu</span>
					</a>

					<ul class="nav nav-pills flex-column mb-0 align-items-center align-items-sm-start" id="account">
						<li class="nav-item">
							<a href="#" class="nav-link align-middle px-0">
							      @await Component.InvokeAsync("GetAuthorizedUser")
							      <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
							</a>
						</li>
					</ul>

					<ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
						<li class="nav-item">
							<a href="#" class="nav-link align-middle px-0">
								<i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
							</a>
						</li>
						<li>
							<a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
								<i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
							<ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
								<li class="w-100">
									<a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
								</li>
								<li>
									<a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#" class="nav-link px-0 align-middle">
								<i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
						</li>
						<li>
							<a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
								<i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Bootstrap</span></a>
							<ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
								<li class="w-100">
									<a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1</a>
								</li>
								<li>
									<a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
								<i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>
								<ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
								<li class="w-100">
									<a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
								</li>
								<li>
									<a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
								</li>
								<li>
									<a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 3</a>
								</li>
								<li>
									<a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#" class="nav-link px-0 align-middle">
								<i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span> </a>
						</li>
					</ul>
					<hr>
				</div>
			</div>


			<div class="main-container">
			<div class="col py-3 main-container" >

					@RenderBody()
			</div>
			</div>

		</div>
	</div>
	</main>

	<script src="~/js/bootstrap.js" ></script>
	<script type="module">
      import { Toast } from '~/js/bootstrap.js'

      Array.from(document.querySelectorAll('.toast'))
        .forEach(toastNode => new Toast(toastNode))


        var exampleModal = document.getElementById('exampleModal')
        exampleModal.addEventListener('show.bs.modal', function (event) {
          // Button that triggered the modal
          var button = event.relatedTarget
          // Extract info from data-bs-* attributes
          var recipient = button.getAttribute('data-bs-whatever')
          // If necessary, you could initiate an AJAX request here
          // and then do the updating in a callback.
          //
          // Update the modal's content.
          var modalTitle = exampleModal.querySelector('.modal-title')
          var modalBodyInput = exampleModal.querySelector('.modal-body input')

          modalTitle.textContent = 'New message to ' + recipient
          modalBodyInput.value = recipient
        })
    </script>
</body>
</html>