@model EducationPortal.Db.Services.Models.AuthorizeModel

@{
    bool isAuthorized = false;
    if (Model != null){
        isAuthorized = !string.IsNullOrEmpty(Model.Login) &&
                       Model.UserId != 0 &&
                       !string.IsNullOrEmpty(Model.Token);
    }

}

@if (!isAuthorized){
    <li>
        <a asp-controller="Account" asp-action="Login" class="nav-link">Login</a>
    </li>

}
else{
    <li>
        <a class="nav-link" href="#">My profile</a>
    </li>
    <li>
        <a asp-controller="Account" asp-action="Logout" class="nav-link">Logout</a>
    </li>
    <li>
        <a asp-controller="Account" asp-action="MyCourses" class="nav-link">My courses</a>
    </li>
    @if (Model.IsAdmin)
    {
        <li>
            <a asp-controller="Admin" asp-action="Index" class="nav-link">Admin</a>
        </li>
    }

}